
.brans-model-popular{
    width: 70%;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    padding: 1rem;
    margin: 0px auto 0px auto;
    justify-content: center;
    .cards{
        width: 100%;
        // padding-top: 100%;

        .card{
            width: 100%;
            display: grid;
            overflow: hidden;
            border-radius: 5px;

            background-color: white;
            height: 180px;
            grid-template-rows: 25% 80%;
            -webkit-box-shadow: 0px 1px 5px 0px rgba(82,82,82,0.3);
            -moz-box-shadow: 0px 1px 5px 0px rgba(82,82,82,0.3);
            box-shadow: 0px 1px 5px 0px rgba(82,82,82,0.3);


            background-position-y: 50%;
            background-size: 70%;
            background-repeat: no-repeat;
            background-position-x: 170%;
            h2{
                width: 100%;
                font-size: 1.5em;
                font-weight: 500;
                // height: 1.1em;
                overflow: hidden;
 
            }
            .title{
                width: 100%;
                padding-left: 1rem;
                display: grid;
                align-items: center;

                // grid-template-columns: 80% 20%;

                // background-color: #ffc955;
                h2{
                    color: rgb(116, 116, 116);
                    width: 100%;
                }
                // .logo-marca{
                //     background-color: rgb(238, 161, 161);
                //     width: 100%;
                //     height: 4rem;
                // }
            }
            // .card-image{
            //     a{
            //         text-decoration: none;
            //         width: 100%;
                    
            //         img{
            //             border-radius: 5px 5px 0 0;
            //             width: 100%;
            //             height: 100%;
        
            //             object-fit: cover;
                        
            //         }
            //     }
            // }
            .card-info{
                .models{
                    width: 100%;
                    font-size: 0.8em;
                    font-weight: 100;
                    color: grey;
                    margin-top: 1rem;
                    li{
                        a{
                            color: #424242;
                            display: block;
                            padding-bottom: 0.8rem;
                            padding-top: 0.2rem;
                            padding-left: 1rem;
                            span{
                                display: flex;
                                align-items: center;
                            }
                        }
                        a:hover{
                            color: #3483FA
                        }
                    }
                }
 
            }
        }
    }

}


@media (min-width: 768px) { 
    .brans-model-popular{ 
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1200px) { 
    .brans-model-popular{ 
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1500px) { 
    .brans-model-popular{ 
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 2500px) { 
    .brans-model-popular{ 
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
    }
}