.content {
  padding: 1rem;
  color: #363636;
}
.content a {
  color: #363636;
}
.content a:hover {
  color: #363636;
}
.content .list .list-item {
  color: #363636;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}
.content .list .list-item .sub-list {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 1rem;
  padding: 0.5rem;
  font-size: 0.9em;
}
.content .list .list-item .sub-list .item-sublist {
  padding: 0.3rem;
}
.content .mat-divider {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.content .title {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}
