.content{
    padding: 1rem;
    color: #363636;
    a{
        color: #363636;
        &:hover{
            color: #363636;
        }
    }
    .list{
        .list-item{
            color: #363636;
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
            .sub-list{
                grid-column-start: 2;
                grid-column-end: 3;
                padding-left: 1rem;
                padding: 0.5rem;
                font-size: 0.9em;
                .item-sublist{
                    padding:0.3rem;

                }
            }
        }
    }
    .mat-divider{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .title{
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
    }
}