ul{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    li {
        font-size: 0.8em;
        padding: 0.5rem;
    }
}
.content-btns{
    margin-top: 2rem;
    .nex{
        margin-left: 1rem
    }

}