ngx-gallery{
    width: 50vw !important;
    height: calc( 50vw / 1.5)!important;
}

@media ( max-width : 800px){
    ngx-gallery{
        width: 100vw !important;
        height: calc( 100vw / 1.5)!important;
    } 
}