form, .upload, .extras, .description{
    margin-bottom: 2rem;
}
.mat-card-title{
    margin-bottom: 2rem;
}


.upload{
    
}

.description{
    width: 100%;
    .text-description{
        width: 100%;
        textarea{

            padding: 1rem;
            min-height: 150px;
            // background-color: silver;
        }
    }
}